main{
    .banner{
        background-color: #f2f2f2;
        background: linear-gradient(#f2f2f2 70%, white 50%);
        padding-bottom: 30px;
    }
    .titulares{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
    .items{
        background-color: #f2f2f2;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .icono{
        width: 200px;
        border-radius: 10px;
        margin: 15px;
    }
    h3{
        text-align: center;
    }
    h4{
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }
    .items2{
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
}