main{
    .banner{
        background-color: #f2f2f2;
        background: linear-gradient(#f2f2f2 70%, white 50%);
        padding-bottom: 30px;
    }
    .titulares{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
    .items{
        background-color: #f2f2f2;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    .icono{
        width: 100px;
        border-radius: 10px;
        margin: 15px;
        display: block;
        margin: 0 auto;
    }
    .icono1{
        width: 50px;
        border-radius: 10px;
        margin: 15px;
        display: block;
        margin: 0 auto;        
    }
    h3{
        text-align: center;
    }
    h4{
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }
    .items2{
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
    div{
        padding: 100px;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 15px;
    }
    .cta{
        background-color: #f2f2f2;
        text-align: center;
        padding: 30px
    }
    button{
        text-decoration: none;
        padding: 9px 25px;
        background-color: #707070;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transform: all 0.3s ease 0s;
    }
    button:hover{
        background-color: #f5911e;
    }
        @include mobile{
        display: flex;
        flex-direction: column;
    }
        .items2{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
}