@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #707070;
}

h1 {
  font-size: 50px;
  color: black;
}

h2 {
  color: black;
  font-size: 42px;
}

header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "logo menu ensena_en_doon";
  align-items: center;
  padding: 30px;
  background-color: #f2f2f2;
}
header .logo {
  width: 120px;
  grid-area: logo;
}
header .menu {
  list-style: none;
  grid-area: menu;
  display: flex;
  justify-content: left;
}
header li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}
header a {
  transition: all 0.3s ease 0s;
  color: grey;
  text-decoration: none;
}
header a:hover {
  color: #f5911e;
}
header button {
  text-decoration: none;
  padding: 9px 25px;
  background-color: #707070;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
}
header button:hover {
  background-color: #f5911e;
}
header .ensena_en_doon {
  grid-area: ensena_en_doon;
  display: flex;
  justify-content: right;
}
@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
header .menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
footer li {
  display: inline-block;
  padding: 0px 20px;
}
footer .rrss_spotify {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
}
footer a {
  color: #707070;
  text-decoration: none;
}
@media (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
footer section {
  margin: 10px;
}

main .banner {
  background-color: #f2f2f2;
  background: linear-gradient(#f2f2f2 70%, white 50%);
  padding-bottom: 30px;
}
main .titulares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
main .banner_video {
  width: 40%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
main h1 {
  padding: 0px 100px;
}
main p {
  padding: 0px;
}
main .contenido_1 {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
main img {
  width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
main .texto {
  margin-left: 100px;
}
main .contenido_2 {
  background-color: #f2f2f2;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
}
main video {
  width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
@media (max-width: 480px) {
  main main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main h1 {
    text-align: center;
    padding: 0;
  }
  main h2 {
    text-align: center;
    padding: 0;
  }
  main p {
    text-align: center;
    padding: 0;
  }
  main .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .contenido_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .contenido_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .titulares {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .banner_video {
    width: 90%;
  }
  main .texto {
    margin: 0;
  }
  main video {
    width: 90%;
  }
  main img {
    width: 100%;
  }
}

main .banner {
  background-color: #f2f2f2;
  background: linear-gradient(#f2f2f2 70%, white 50%);
  padding-bottom: 30px;
}
main .titulares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
main .contenedor_cursos {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
main .cursos {
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 15px;
}
main h3 {
  font-size: 10px;
  font-weight: 400;
}
main video {
  width: 300px;
}
main h2 {
  font-size: 20px;
}
@media (max-width: 480px) {
  main .contenedor_cursos {
    display: flex;
    flex-direction: column;
  }
  main .imagen_banner {
    width: 90%;
  }
}

main .banner {
  background-color: #f2f2f2;
  background: linear-gradient(#f2f2f2 70%, white 50%);
  padding-bottom: 30px;
}
main .titulares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
main .items {
  background-color: #f2f2f2;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
main .icono {
  width: 100px;
  border-radius: 10px;
  margin: 15px;
  display: block;
  margin: 0 auto;
}
main .icono1 {
  width: 50px;
  border-radius: 10px;
  margin: 15px;
  display: block;
  margin: 0 auto;
}
main h3 {
  text-align: center;
}
main h4 {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
main .items2 {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
main div {
  padding: 100px;
}
main h2 {
  text-align: center;
}
main p {
  text-align: center;
  font-size: 15px;
}
main .cta {
  background-color: #f2f2f2;
  text-align: center;
  padding: 30px;
}
main button {
  text-decoration: none;
  padding: 9px 25px;
  background-color: #707070;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transform: all 0.3s ease 0s;
}
main button:hover {
  background-color: #f5911e;
}
@media (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
main .items2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  margin-top: 20px;
}

main .contacto {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
  margin-bottom: 30px;
}
main .boton_enviar {
  padding: 9px 25px;
  background-color: #707070;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transform: all 0.3s ease 0s;
}
main .boton_enviar:hover {
  background-color: #f5911e;
}
main .contacto form .campo, main textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #707070;
  border-radius: 10px;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  main main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main h1 {
    text-align: center;
    padding: 0;
  }
  main h2 {
    text-align: center;
    padding: 0;
  }
  main p {
    text-align: center;
    padding: 0;
  }
  main .contacto {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
